@charset "UTF8";

@media print {
   body {
    background-image: url(../imagens/back-print.jpg);
    
    text-shadow: none;
    color: black;
 
   
   }
   main{
    border: solid 1px black;
 
   }
   main::after{
    content:'essa impressão foi feita atraves do site www.cursoemvideo.com.';
    text-decoration: underline;
   
   }
    img{
    display: block;
    margin: auto;
 }
 #phone{
    display: none;
    
 }
 #tablet{
    display: none;
 }
 #print{
    display: block;
 }
 #pc{
    display: none;
    
 }
 #tv{
    display: none;
 }
}
@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    
    body {
      background-color: black;
      
    }
   
    main{
        width: 800px;
     }                  
    img{
        display: block;
        margin: auto;
     }
     #phone{
        display: none;
     }
     #tablet{
        display: block;
     }
     #print{
        display: none;
     }
     #pc{
        display: none;
     }
     #tv{
        display: none;
     }
}
@media  screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP*/ 
     body{
       background-color: black;
     }
    img{
        display: block;
        margin: auto;
     }
     main{
        width: 900px;
     } 
                     
     
     
     #phone{
        display: none;
     }
     #tablet{
        display: none;
     }
     #print{
        display: none;
     }
     #pc{
        display: block;
     }
     #tv{
        display: none;
     }
                                             
}
@media screen and (min-width: 1200px) { /*GRANDES TELAS*/
    body{
        background-color: black;
    }
    main{
        width: 900px;
    }
    img{
        display: block;
        margin: auto;
     }
     #phone{
        display: none;
     }
     #tablet{
        display: none;
     }
     #print{
        display: none;
     }
     #pc{
        display: none;
     }
     #tv{
        display: block;
     }
    
}
