@charset "UTF8";
 /*versão mobile first*/
 
 @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');



 *{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   
 }
 html{
    height: 100vh;
    height: 10vh;
    
   
 } 
 body{
    background-color: black;
   
 

 }
 main{
    background-color: rgb(5, 5, 5);
    
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
  

   }
header h1{
   color:black;
   text-align: center;
   margin: auto;
   font-family: 'Rye', cursive;
   font-size: 40px;
  
   padding: 30px;
   text-shadow: 2px 2px 2px black;
   margin-right: 16px;
 }
 header{
   margin: 0%;
   padding: 0%;
   display: block;
   border-radius: 20%;
  background-color:white;
   
 }

 img{
    display: block;
    margin: auto;
 }
 #phone{
    display: block;
    
 }
 #tablet{
    display: none;
 }
 #print{
    display: none;
 }
 #pc{
    display: none;
    
 }
 #tv{
    display: none;
 }
 header > menu > li{
   padding-left: 45px;
 }
 footer{
   background-color: rgb(66, 145, 171);
   margin-top: 432px;
   padding: 38px;
  }