@charset "UTF-8";

p.e{
    background-color: rgb(76, 136, 9);
    width: 172PX;
    height: 147PX;
    margin-top: 59PX;
    margin-left: 244PX;
    border-radius: 81px;
    padding-top: 15px;
}
H1{
    background-color: brown;
    width: 172PX;
    height: 151PX;
    margin-top: -245PX;
    margin-left: 28PX;
    border-radius: 81px;
    padding-top: 12px;
}